<% if comment.quother %>
    <% comment_class = 'quother' %>
<% else %>
	<% comment_class = 'visitor' %>
<% end %>

<%= div_for comment, class: "#{comment_class}" do %>
  <h4 class="comment-author"><%= sanitize(comment.author) %><%= sanitize(" @ <span class='quoth-typography'> quoth</span>") if comment.quother %></h4>
  <span class="date"><small><%= time_ago_in_words(comment.created_at) %> ago</small></span>

  <p class="comment-content"><%= sanitize(comment.content) %></p>

  <% if signed_in? %>
      <%= link_to '', post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'Delete comment?' },
                  class: 'glyphicon glyphicon-trash text-danger', id: "#{comment.id}_delete", remote: true,
                  title: 'Delete comment', rel: 'tooltip' %>
  <% end %>
  <hr />
<% end %>