<% provide(:title, "Edit #{@topic.name}") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Edit the name of this topic</h1>
    <p class="text-center" style="padding-bottom: 20px;"><small>Please think carefully before changing the name of this
      topic. It may already be used for a number of articles whose content may conflict with the new topic name.<br />
      <span class="pull-right"> --Thanks.</span></small></p>

    <%= form_for @topic do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :name, 'Topic name' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <%= f.submit 'Update topic name', class: 'btn btn-info' %>
    <% end %>

  </div>
</div>