<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="text-center"><%= heading_text %></h1>

    <%= form_for user do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirm password' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :bio %>
          <%= f.text_area :bio, class: 'form-control', rows: '10' %>
        </div>

        <%= f.submit button_text, class: 'btn btn-info' %>
    <% end %>
    <br />
    <p><%= link_to 'Home', root_path %></p>
  </div>
</div>