<% provide(:title, 'Bloggers') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
	<h1 class="text-center">The <span class="quoth-typography">quoth</span> bloggers:</h1>

	<% if signed_in? %>
	    <p><%= link_to 'Add a new user', new_user_path, class: 'btn btn-info' %></p>
	<% end %>

	<ul class="blogger-ul">
	<% @users.each do |user| %>
		<li class="blogger-li">
		  <h2>
		  <%#= gravatar_for user %>
		  <%= image_tag user.avatar.url, class: 'img-circle avatar' %>
		  <%= user.name %>
		  </h2>
		  <div class="blogger-blurb">
		    <p><%= user.bio.html_safe %></p>
			<%= link_to 'View blogger page', user_path(user) %> &nbsp;&nbsp;
		    <% if signed_in? %>
				<%= link_to '', edit_user_path(user), class: 'glyphicon glyphicon-pencil', id: "#{user.name}_edit",
						title: 'Edit blogger info', rel: 'tooltip' %>
		        &nbsp;
				<%= link_to '', user, method: :delete, data: { confirm: "Delete #{user.name} from the system?" },
		                class: 'glyphicon glyphicon-trash text-danger', id: "#{user.name}_delete",
		                title: 'Delete blogger info', rel: 'tooltip' %>
		    <% end %>
		  </div>
		</li>
	<% end %>
	</ul>
</div>
</div>