<% provide(:title, @user.name) %>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
	  <h1>
	    <%= gravatar_for @user %>
	    <%= @user.name %>&nbsp;&nbsp;
	    <% if signed_in? %>
          <small><%= link_to '', edit_user_path(@user), class: 'glyphicon glyphicon-pencil', id: "#{@user.name}_edit",
                      title: 'Edit my info', rel: 'tooltip' %></small>
		<% end %>
	  </h1>
      <p><%= mail_to @user.email %></p>
      <p class="bio"><%= @user.bio.html_safe %></p>

      <h2 class="text-center">Articles written by <%= @user.name %></h2>

      <hr />
      <div class="main-separator"></div>
      </div>

      <div class="col-md-8 col-md-offset-2">
      <% @user.posts.each do |post| %>
          <div class="post">
            <h2 class="text-center"><%= link_to post.title.html_safe, post_path(post) %></h2>
            <p class="date"><small><%= post.created_at.strftime("%d %B %Y") %></small></p>
            <%= truncate(post.body, length: 0, separator: '---MORE---', escape: false) { link_to 'Continue...', post_path(post) } %>
          </div>
          <hr>
      <% end %>
	</div>
</div>