<div class="row">
<div class="col-md-10 col-md-offset-1">
  <div class="main-separator">
    <% if signed_in? %>
        <%= link_to 'Create a new article', new_post_path, class: 'btn btn-default' %>
    <% end %>
  </div>

  <h1 class="text-center">Welcome to the <span class="quoth-typography">quoth</span> blog.</h1>
  <h3 class="welcome text-center"><small>
    This is the blog of the team that is currently developing
    <%= link_to 'quoth', 'https://pacific-basin-6357-quoth.herokuapp.com/', class: 'quoth-typography' %>.
    We write about web development in <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> and about web design
    that are taking place as we build the <span class="quoth-typography">quoth</span> app.</small>
  </h3>
    <p class="text-center"><%= sanitize(@topics.map { |t| link_to t.name, topic_path(t) }.join ' / ') %></p>

  <hr />

  <div class="bloggers-intro">
	<% @users.each do |user| %>
	  <div class="user-blurb">
		<%#= link_to gravatar_for(user), user_path(user) %>
	    <%= link_to (image_tag user.avatar.url, class: 'img-circle avatar'), user_path(user) %>
		<p class="text-center"><%= link_to user.name, user_path(user) %></p>
		<p class="text-center"><small><%= user.title %></small></p>
	  </div>
	<% end %>
    <p><%= link_to 'Meet the team', users_path %></p>
    <hr />
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <%= render 'posts/post_stub' %>
</div>
</div>