<div class="row">
<div class="col-md-8 col-md-offset-2">
  <h1 class="welcome text-center">Welcome to the
    <%= link_to 'quoth', "#", class: 'quoth-typography' %> blog.</h1>

  <hr />

  <div class="main-separator">
  <% if signed_in? %>
	  <%= link_to 'Create a new post', new_post_path, class: 'btn btn-info' %>
  <% end %>
  </div>

  <% @posts.each do |post| %>
      <div class="post">
        <h2 class="text-center"><%= link_to post.title.html_safe, post_path(post) %></h2>
        <p class="date"><small><%= post.created_at.strftime("%d %B %Y") %></small></p>
        <%= truncate(post.body, length: 0, separator: '---MORE---', escape: false) { link_to 'Continue...', post_path(post) } %>
      </div>
	<hr>
  <% end %>
</div>
</div>