<% provide(:title, @post.title) %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= render 'posts/post', post: @post %>

		<% if signed_in? %>
		  <%= link_to 'Edit', edit_post_path(@post) %> &nbsp;&nbsp;
	      <%= link_to 'Delete', @post, method: :delete, id: "#{@post.title.parameterize}-delete", data: { confirm: 'Delete post?' } %> &nbsp;&nbsp;
		<% end %>

	  <hr class="hr-wider" />
	  <h4 id="comments-count">This article has <%= pluralize(@post.comments.count, 'comment') %></h4>
	  <hr />

	    <div id="comments-list">
	      <%= render partial: @post.reload.comments %>
	    </div>

	  <div id="comment-form">
	    <%= render 'comments/comment_form' %>
	  </div>
	</div>
</div>