<!DOCTYPE html>
<html>
<head>
  <title>The quoth blog. <%= @post.title %></title>
</head>

<body>
  <h1><%= @post.title %></h1>
  <p><small>Posted on <%= @post.created_at.strftime("%d %B %Y") %></small></p>
  <div><%= @post.body %></div>

  <%= link_to 'Home', root_path %>
</body>
</html>