<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
	  <%= link_to 'the quoth blog', root_path, class: 'navbar-brand' %>
	  <ul class="nav navbar-nav navbar-right">
	    <li class="dropdown">

	      <% if signed_in? %>
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><%= link_to 'My page', current_user %></li>
		        <li><%= link_to 'Edit my info', edit_user_path(current_user) %></li>
		        <li><%= link_to 'Manage bloggers', users_path %></li>
		        <li><%= link_to 'Manage article topics', topics_path %></li>
		        <li class="divider"></li>
		        <li><%= link_to 'Sign out', signout_path, method: 'delete' %></li>
		      </ul>
		  <% else %>
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog admin <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><%= link_to 'Sign in', signin_path %></li>
		      </ul>
		  <% end %>

	    </li>
	  </ul>
  </div>
</nav>